#directorios ignorados
venv/
certificado/
logs/
pgdata/
backup/
cloud_canasta/
scripts/

# Ignorar archivos de caché
__pycache__/
*.py[cod]

# Ignorar archivos de registro
*.log
*.session
*.session-journal
# Ignorar archivos de configuración local
.env

# Ignorar archivos generados por el IDE
.idea/
.vscode/
*.pyc

certificados_ddbb.py
certificados_twitter.py
robot-yami.py
airflow.cfg
mycert.crt
mycert.pem
certificados_telegram.py

airflow/airflow.cfg
.vscode/settings.json
