#directorios ignorados
venv/
certificado/
logs/
pgdata/
backup/

# Ignorar archivos de caché
__pycache__/
*.py[cod]

# Ignorar archivos de registro
*.log

# Ignorar archivos de configuración local
.env

# Ignorar archivos generados por el IDE
.idea/
.vscode/
*.pyc

certificados_ddbb.py
certificados_twitter.py
robot-yami.py



